[submodule "go-ethereum"]
	path = go-ethereum
	branch = warp-refactor
	url = git@github.com:FhenixProtocol/go-ethereum.git
[submodule "warp-drive"]
	path = warp-drive
	url = https://github.com/fhenixprotocol/warp-drive.git
